<div class="login-camera-container">
  <div class="login-camera-login-camera">
    <img
      alt="image1783"
      src="/assets/playground_assets/image1783-8hv-1000w.png"
      class="login-camera-image1"
    />
    <img
      alt="Rectangle4742"
      src="/assets/playground_assets/rectangle4742-u0kj-200h.png"
      class="login-camera-rectangle4"
    />
    <span class="login-camera-text"><span>AQUA</span></span>
    <img
      alt="Rectangle9986"
      src="/assets/playground_assets/rectangle9986-eyqw-200h.png"
      class="login-camera-rectangle9"
    />
    <img
      alt="Rectangle5743"
      src="/assets/playground_assets/rectangle5743-pie-200h.png"
      class="login-camera-rectangle5"
    />
    <img
      alt="Rectangle7747"
      src="/assets/playground_assets/rectangle7747-bdg5-400w.png"
      class="login-camera-rectangle7"
    />
    <span class="login-camera-text02"><span>Camera</span></span>
    <span class="login-camera-text04"><span>Use password instead</span></span>
    <span class="login-camera-text06"><span>Username</span></span>
    <span class="login-camera-text08">
      <span>
        <span>
          Amrita Questions
          <span [innerHTML]="rawhm5x"></span>
        </span>
        <br />
        <span>
          and
          <span [innerHTML]="rawgv44"></span>
        </span>
        <br />
        <span>Assessments</span>
      </span>
    </span>
    <span class="login-camera-text15"><span>LOGIN</span></span>
    <input
      type="text"
      placeholder="placeholder"
      class="login-camera-textinput input"
    />
    <button class="login-camera-button button">
      <span>
        <span>Login</span>
        <br />
      </span>
    </button>
  </div>
</div>
